@using ToDoList.Models;
@model List<ToDoList.Models.Item>;

<h1>Items</h1>

<ul>
  @foreach(Item item in Model)
  {
      <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId })</li> <!-- HTML helper method that links to a specific item's detail. This incorporates string interpolation, similar to template literal in javascript. -->
  }
</ul>

<p>@Html.ActionLink("Add new item", "Create")</p>  <!-- HTML helper method -->