@model ToDoList.Models.Item
<!--^^ this thing above is called a model directive. It tells our view what type of data will be passed into the view form the controller route. Here, we're telling the view it will receive a model that is an item. -->
<h4>Add a new task</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    <input type="submit" value="Add new task" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>